div#routeMaker {
	position:relative;
}

img#map {
	width: 80%;
}

img.mob {
	position: absolute;
}

img.mob:hover {
	cursor: pointer;
}

h2.mobLabel {
	position: absolute;
	display: none;
	font-size: 1.6vw;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

img#blueGromp {
	width: 5%;
	bottom: 50%;
	left: 16%;
	transform: scaleX(-1);
	filter: drop-shadow(3px 3px 0 blue) 
    drop-shadow(-3px -3px 0 blue);
}

img#blueGromp:hover {
	width:8%;
	left: 15%;
	bottom: 48%;
}

#blueGrompLabel {
	left: 16%;
	bottom: 61%;
	width: 15%;
	color: blue;
}

img#blueGromp:hover~#blueGrompLabel {
	display: block;
}

img#blueBase {
	width: 5%;
	bottom: 6%;
	left: 9%;
	filter: drop-shadow(3px 3px 0 blue) 
    drop-shadow(-3px -3px 0 blue);
}

img#blueBase:hover {
	width:8%;
	left: 8%;
	bottom: 5%;
}

#blueBaseLabel {
	left: 8.5%;
	bottom: 17%;
	width: 15%;
	color: blue;
}

img#blueBase:hover~#blueBaseLabel {
	display: block;
}

img#blueWolves {
	width: 5%;
	bottom: 41%;
	left: 23%;
	transform: scaleX(-1);
	filter: drop-shadow(3px 3px 0 blue) 
    drop-shadow(-3px -3px 0 blue);
}

img#blueWolves:hover {
	width:8%;
	left: 22%;
	bottom: 38%;
}

#blueWolvesLabel {
	left: 21%;
	bottom: 33%;
	width: 44%;
	color: blue;
}

img#blueWolves:hover~#blueWolvesLabel {
	display: block;
}

img#blueBlue {
	width: 5%;
	bottom: 52%;
	left: 23%;
	filter: drop-shadow(3px 3px 0 blue) 
    drop-shadow(-3px -3px 0 blue);
}

img#blueBlue:hover {
	width:8%;
	left: 22%;
	bottom: 51%;
}

#blueBlueLabel {
	left: 20%;
	bottom: 59%;
	width: 44%;
	color: blue;
}

img#blueBlue:hover~#blueBlueLabel {
	display: block;
}

img#blueRaptors {
	width: 5%;
	bottom: 37%;
	left: 37%;
	filter: drop-shadow(3px 3px 0 blue) 
    drop-shadow(-3px -3px 0 blue);
}

img#blueRaptors:hover {
	width:8%;
	left: 36%;
	bottom: 36%;
}

#blueRaptorsLabel {
	left: 36%;
	bottom: 40%;
	width: 44%;
	color: blue;
}

img#blueRaptors:hover~#blueRaptorsLabel {
	display: block;
}

img#blueRed {
	width: 5%;
	bottom: 27%;
	left: 39%;
	filter: drop-shadow(3px 3px 0 blue) 
    drop-shadow(-3px -3px 0 blue);
}

img#blueRed:hover {
	width:8%;
	left: 38%;
	bottom: 26%;
}

#blueRedLabel {
	left: 37%;
	bottom: 30%;
	width: 44%;
	color: blue;
}

img#blueRed:hover~#blueRedLabel {
	display: block;
}

img#blueKrugs {
	width: 5%;
	bottom: 19%;
	left: 43%;
	filter: drop-shadow(3px 3px 0 blue) 
    drop-shadow(-3px -3px 0 blue);
}

img#blueKrugs:hover {
	width:8%;
	left: 42%;
	bottom: 18%;
}

#blueKrugsLabel {
	left: 41.8%;
	bottom: 12%;
	width: 44%;
	color: blue;
}

img#blueKrugs:hover~#blueKrugsLabel {
	display: block;
}




img#redGromp {
	width: 5%;
	top: 51%;
	left: 59%;
	filter: drop-shadow(3px 3px 0 red) 
    drop-shadow(-3px -3px 0 red);
}

img#redGromp:hover {
	width:8%;
	left: 57%;
	top: 48%;
}

#redGrompLabel {
	left: 57%;
	top: 61%;
	width: 15%;
	color: red;
}

img#redGromp:hover~#redGrompLabel {
	display: block;
}

img#redBase {
	width: 5%;
	top: 6.5%;
	left: 63.5%;
	filter: drop-shadow(3px 3px 0 red) 
    drop-shadow(-3px -3px 0 red);
}

img#redBase:hover {
	width:8%;
	left: 62%;
	top: 5%;
}

#redBaseLabel {
	left: 62.5%;
	top: 17%;
	width: 15%;
	color: red;
}

img#redBase:hover~#redBaseLabel {
	display: block;
}

img#redWolves {
	width: 5%;
	top: 41%;
	left: 52%;
	filter: drop-shadow(3px 3px 0 red) 
    drop-shadow(-3px -3px 0 red);
}

img#redWolves:hover {
	width:8%;
	left: 51%;
	top: 38%;
}

#redWolvesLabel {
	left: 51%;
	top: 33%;
	width: 44%;
	color: red;
}

img#redWolves:hover~#redWolvesLabel {
	display: block;
}

img#redBlue {
	width: 5%;
	top: 50%;
	left: 53%;
	transform: scaleX(-1);
	filter: drop-shadow(3px 3px 0 red) 
    drop-shadow(-3px -3px 0 red);
}

img#redBlue:hover {
	width:8%;
	left: 52%;
	top: 49%;
}

#redBlueLabel {
	left: 50%;
	top: 59%;
	width: 44%;
	color: red;
}

img#redBlue:hover~#redBlueLabel {
	display: block;
}

img#redRaptors {
	width: 5%;
	top: 36%;
	left: 39%;
	transform: scaleX(-1);
	filter: drop-shadow(3px 3px 0 red) 
    drop-shadow(-3px -3px 0 red);
}

img#redRaptors:hover {
	width:8%;
	left: 38%;
	top: 35%;
}

#redRaptorsLabel {
	left: 38%;
	top: 39%;
	width: 44%;
	color: red;
}

img#redRaptors:hover~#redRaptorsLabel {
	display: block;
}

img#redRed {
	width: 5%;
	top: 27%;
	left: 36%;
	transform: scaleX(-1);
	filter: drop-shadow(3px 3px 0 red) 
    drop-shadow(-3px -3px 0 red);
}

img#redRed:hover {
	width:8%;
	left: 35%;
	top: 26%;
}

#redRedLabel {
	left: 31.5%;
	top: 30%;
	width: 44%;
	color: red;
}

img#redRed:hover~#redRedLabel {
	display: block;
}

img#redKrugs {
	width: 5%;
	top: 19%;
	left: 34%;
	transform: scaleX(-1);
	filter: drop-shadow(3px 3px 0 red) 
    drop-shadow(-3px -3px 0 red);
}

img#redKrugs:hover {
	width:8%;
	left: 33%;
	top: 18%;
}

#redKrugsLabel {
	left: 32%;
	top: 12%;
	width: 44%;
	color: red;
}

img#redKrugs:hover~#redKrugsLabel {
	display: block;
}




img#dragon {
	width: 5%;
	bottom: 29%;
	left: 48%;
	filter: drop-shadow(3px 3px 0 yellow) 
    drop-shadow(-3px -3px 0 yellow);
}

img#dragon:hover {
	width:8%;
	left: 47%;
	bottom: 28%;
}

#dragonLabel {
	left: 48%;
	bottom: 36%;
	width: 44%;
	color: white;
}

img#dragon:hover~#dragonLabel {
	display: block;
}


img#baron {
	width: 5%;
	bottom: 64%;
	left: 27.5%;
	filter: drop-shadow(3px 3px 0 yellow) 
    drop-shadow(-3px -3px 0 yellow);
}

img#baron:hover {
	width:8%;
	left: 26.5%;
	bottom: 62.5%;
}

#baronLabel {
	left: 26%;
	bottom: 61%;
	width: 44%;
	color: white;
}

img#baron:hover~#baronLabel {
	display: block;
}

img#top {
	width: 5%;
	bottom: 76%;
	left: 16%;
	filter: drop-shadow(3px 3px 0 black) 
    drop-shadow(-3px -3px 0 black);
}

img#top:hover {
	width:8%;
	left: 15%;
	bottom: 75%;
}

#topLabel {
	left: 15.3%;
	bottom: 87%;
	width: 44%;
	color: white;
}

img#top:hover~#topLabel {
	display: block;
}

img#mid {
	width: 5%;
	bottom: 46%;
	left: 37%;
	filter: drop-shadow(3px 3px 0 black) 
    drop-shadow(-3px -3px 0 black);
}

img#mid:hover {
	width:8%;
	left: 36%;
	bottom: 45%;
}

#midLabel {
	left: 36.5%;
	bottom: 47%;
	width: 44%;
	color: white;
}

img#mid:hover~#midLabel {
	display: block;
}

img#bot {
	width: 5%;
	bottom: 14%;
	left: 60%;
	filter: drop-shadow(3px 3px 0 black) 
    drop-shadow(-3px -3px 0 black);
}

img#bot:hover {
	width:8%;
	left: 59%;
	bottom: 13%;
}

#botLabel {
	left: 59.5%;
	bottom: 7%;
	width: 44%;
	color: white;
}

img#bot:hover~#botLabel {
	display: block;
}