div#routeMaker {
	position:relative;
	width: 80%;
}

img#map {
	width: 100%;
	z-index: -100;
}

img.mob {
	position: absolute;
	z-index: 100;
}

canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	left:0;
	z-index: 0;
}

img.mob:hover {
	cursor: pointer;
}

h2.mobLabel {
	position: absolute;
	display: none;
	font-size: 1.6vw;
	text-shadow:
    -0.1vw -0.1vw 0 #000,
    0.1vw -0.1vw 0 #000,
    -0.1vw 0.1vw 0 #000,
    0.1vw 0.1vw 0 #000;
    z-index: 200;
}

img#blueGromp {
	width: 5%;
	bottom: 53%;
	left: 21%;
	transform: scaleX(-1);
	filter: drop-shadow(0.2vw 0.2vw 0 blue) 
    drop-shadow(-0.2vw -0.2vw 0 blue);
}

img#blueGromp:hover {
	width:8%;
	left: 20%;
	bottom: 53%;
}

#blueGrompLabel {
	left: 18.5%;
	bottom: 61%;
	width: 15%;
	color: blue;
}

img#blueGromp:hover~#blueGrompLabel {
	display: block;
}

img#blueBase {
	width: 5%;
	bottom: 6%;
	left: 11%;
	filter: drop-shadow(0.2vw 0.2vw 0 blue) 
    drop-shadow(-0.2vw -0.2vw 0 blue);
}

img#blueBase:hover {
	width:8%;
	left: 10.5%;
	bottom: 6%;
}

#blueBaseLabel {
	left: 10%;
	bottom: 15%;
	width: 15%;
	color: blue;
}

img#blueBase:hover~#blueBaseLabel {
	display: block;
}

img#blueWolves {
	width: 5%;
	bottom: 41%;
	left: 28%;
	transform: scaleX(-1);
	filter: drop-shadow(0.2vw 0.2vw 0 blue) 
    drop-shadow(-0.2vw -0.2vw 0 blue);
}

img#blueWolves:hover {
	width:8%;
	left: 27%;
	bottom: 38%;
}

#blueWolvesLabel {
	left: 26%;
	bottom: 33%;
	width: 44%;
	color: blue;
}

img#blueWolves:hover~#blueWolvesLabel {
	display: block;
}

img#blueBlue {
	width: 5%;
	bottom: 52%;
	left: 28%;
	filter: drop-shadow(0.2vw 0.2vw 0 blue) 
    drop-shadow(-0.2vw -0.2vw 0 blue);
}

img#blueBlue:hover {
	width:8%;
	left: 27%;
	bottom: 51%;
}

#blueBlueLabel {
	left: 24%;
	bottom: 59%;
	width: 44%;
	color: blue;
}

img#blueBlue:hover~#blueBlueLabel {
	display: block;
}

img#blueRaptors {
	width: 5%;
	bottom: 37%;
	left: 45%;
	filter: drop-shadow(0.2vw 0.2vw 0 blue) 
    drop-shadow(-0.2vw -0.2vw 0 blue);
}

img#blueRaptors:hover {
	width:8%;
	left: 44%;
	bottom: 36%;
}

#blueRaptorsLabel {
	left: 43%;
	bottom: 40%;
	width: 44%;
	color: blue;
}

img#blueRaptors:hover~#blueRaptorsLabel {
	display: block;
}

img#blueRed {
	width: 5%;
	bottom: 27%;
	left: 49%;
	filter: drop-shadow(0.2vw 0.2vw 0 blue) 
    drop-shadow(-0.2vw -0.2vw 0 blue);
}

img#blueRed:hover {
	width:8%;
	left: 48%;
	bottom: 26%;
}

#blueRedLabel {
	left: 45%;
	bottom: 30%;
	width: 44%;
	color: blue;
}

img#blueRed:hover~#blueRedLabel {
	display: block;
}

img#blueKrugs {
	width: 5%;
	bottom: 19%;
	left: 53%;
	filter: drop-shadow(0.2vw 0.2vw 0 blue) 
    drop-shadow(-0.2vw -0.2vw 0 blue);
}

img#blueKrugs:hover {
	width:8%;
	left: 52%;
	bottom: 18%;
}

#blueKrugsLabel {
	left: 51%;
	bottom: 12%;
	width: 44%;
	color: blue;
}

img#blueKrugs:hover~#blueKrugsLabel {
	display: block;
}




img#redGromp {
	width: 5%;
	top: 51%;
	left:75%;
	filter: drop-shadow(0.2vw 0.2vw 0 red) 
    drop-shadow(-0.2vw -0.2vw 0 red);
}

img#redGromp:hover {
	width:8%;
	left: 73%;
	top: 48%;
}

#redGrompLabel {
	left: 72%;
	top: 57%;
	width: 15%;
	color: red;
}

img#redGromp:hover~#redGrompLabel {
	display: block;
}

img#redBase {
	width: 5%;
	top: 6.5%;
	left: 81.5%;
	filter: drop-shadow(0.2vw 0.2vw 0 red) 
    drop-shadow(-0.2vw -0.2vw 0 red);
}

img#redBase:hover {
	width:8%;
	left: 80%;
	top: 5%;
}

#redBaseLabel {
	left: 80%;
	top: 15%;
	width: 15%;
	color: red;
}

img#redBase:hover~#redBaseLabel {
	display: block;
}

img#redWolves {
	width: 5%;
	top: 41%;
	left: 67%;
	filter: drop-shadow(0.2vw 0.2vw 0 red) 
    drop-shadow(-0.2vw -0.2vw 0 red);
}

img#redWolves:hover {
	width:8%;
	left: 66%;
	top: 38%;
}

#redWolvesLabel {
	left: 65%;
	top: 33%;
	width: 44%;
	color: red;
}

img#redWolves:hover~#redWolvesLabel {
	display: block;
}

img#redBlue {
	width: 5%;
	top: 50%;
	left: 68%;
	transform: scaleX(-1);
	filter: drop-shadow(0.2vw 0.2vw 0 red) 
    drop-shadow(-0.2vw -0.2vw 0 red);
}

img#redBlue:hover {
	width:8%;
	left: 67%;
	top: 49%;
}

#redBlueLabel {
	left: 63%;
	top: 57%;
	width: 44%;
	color: red;
}

img#redBlue:hover~#redBlueLabel {
	display: block;
}

img#redRaptors {
	width: 5%;
	top: 36%;
	left: 49%;
	transform: scaleX(-1);
	filter: drop-shadow(0.2vw 0.2vw 0 red) 
    drop-shadow(-0.2vw -0.2vw 0 red);
}

img#redRaptors:hover {
	width:8%;
	left: 48%;
	top: 35%;
}

#redRaptorsLabel {
	left: 47%;
	top: 39%;
	width: 44%;
	color: red;
}

img#redRaptors:hover~#redRaptorsLabel {
	display: block;
}

img#redRed {
	width: 5%;
	top: 27%;
	left: 46%;
	transform: scaleX(-1);
	filter: drop-shadow(0.2vw 0.2vw 0 red) 
    drop-shadow(-0.2vw -0.2vw 0 red);
}

img#redRed:hover {
	width:8%;
	left: 45%;
	top: 26%;
}

#redRedLabel {
	left: 41%;
	top: 32%;
	width: 44%;
	color: red;
}

img#redRed:hover~#redRedLabel {
	display: block;
}

img#redKrugs {
	width: 5%;
	top: 19%;
	left: 43%;
	transform: scaleX(-1);
	filter: drop-shadow(0.2vw 0.2vw 0 red) 
    drop-shadow(-0.2vw -0.2vw 0 red);
}

img#redKrugs:hover {
	width:8%;
	left: 42%;
	top: 18%;
}

#redKrugsLabel {
	left: 41.5%;
	top: 12%;
	width: 44%;
	color: red;
}

img#redKrugs:hover~#redKrugsLabel {
	display: block;
}




img#dragon {
	width: 5%;
	bottom: 29%;
	left: 61%;
	filter: drop-shadow(0.2vw 0.2vw 0 yellow) 
    drop-shadow(-0.2vw -0.2vw 0 yellow);
}

img#dragon:hover {
	width:8%;
	left: 60%;
	bottom: 28%;
}

#dragonLabel {
	left: 60.5%;
	bottom: 36%;
	width: 44%;
	color: white;
}

img#dragon:hover~#dragonLabel {
	display: block;
}


img#baron {
	width: 5%;
	bottom: 64%;
	left: 35%;
	filter: drop-shadow(0.2vw 0.2vw 0 yellow) 
    drop-shadow(-0.2vw -0.2vw 0 yellow);
}

img#baron:hover {
	width:8%;
	left: 34%;
	bottom: 62.5%;
}

#baronLabel {
	left: 32.5%;
	bottom: 58%;
	width: 44%;
	color: white;
}

img#baron:hover~#baronLabel {
	display: block;
}

img#top {
	width: 5%;
	bottom: 76%;
	left: 20%;
	filter: drop-shadow(0.2vw 0.2vw 0 black) 
    drop-shadow(-0.2vw -0.2vw 0 black);
}

img#top:hover {
	width:8%;
	left: 19%;
	bottom: 75%;
}

#topLabel {
	left: 18.5%;
	bottom: 85%;
	width: 44%;
	color: white;
}

img#top:hover~#topLabel {
	display: block;
}

img#mid {
	width: 5%;
	bottom: 46%;
	left: 47%;
	filter: drop-shadow(0.2vw 0.2vw 0 black) 
    drop-shadow(-0.2vw -0.2vw 0 black);
}

img#mid:hover {
	width:8%;
	left: 46%;
	bottom: 45%;
}

#midLabel {
	left: 45.5%;
	bottom: 47%;
	width: 44%;
	color: white;
}

img#mid:hover~#midLabel {
	display: block;
}

img#bot {
	width: 5%;
	bottom: 14%;
	left: 75%;
	filter: drop-shadow(0.2vw 0.2vw 0 black) 
    drop-shadow(-0.2vw -0.2vw 0 black);
}

img#bot:hover {
	width:8%;
	left: 74%;
	bottom: 13%;
}

#botLabel {
	left: 74%;
	bottom: 7%;
	width: 44%;
	color: white;
}

img#bot:hover~#botLabel {
	display: block;
}