/*GLOBAL STYLING*/
body {
	background-color: #fafbfc;
}

/*HOME PAGE STYLING*/

div.home {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	height: 300px;
}

div.home h1, form {
	text-align:center;
	display:block;
	margin: 20px auto;
	width: 500px;
}

.logo-large {
	font-size: 80px;
}

.search-large input {
	font-size: 30px;
	width: 100%;
	text-align: center;
}

.search-large > * {
	padding: 10px;
}

.react-autosuggest_suggestions-container {
	display: none;
}

.react-autosuggest_suggestions-container--open {
	display: block;
	position: absolute;
	width: 200px;
}

.react-autosuggest__suggestions-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.react-autosuggest__suggestion {
	cursor: pointer;
	margin: 0;
	padding: 0;
}

.react-autosuggest__suggestion * {
	padding: 10px 0px;
	margin: 0;
}

.react-autosuggest__suggestion--highlighted {
	background-color: #ddd;
}


/*NOT FOUND PAGE STYLING*/
div.notFound {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	height: 500px;
}

div.notFound * {
	text-align: center;
	display: block;
	margin: 10px auto;
}

